<!DOCTYPE html>
<html>
<head>
    <title>截图监控</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <style>
        img{
            border:2px solid red;
            width:100%;
            display:block;
        }
        .wraper{
            display:block ;
            white-space: nowrap;
            position: relative;
        }
        .old-capture{
            position:absolute;
            left:50%;
            top:0;
            width:50%;
            vertical-align: top;
        }
        .new-capture{
            ~~~~position:absolute;
            left:0;
            top:0;
            width:50%;
            vertical-align: top;
        }
        .current-capture{
           ~~~~position:absolute;
            left:0;
            top:0;
            width:100%;
            display:block;
        }
        .current-capture h2{
            opacity:1;
            transition:opacity 0.5s;
        }
        .marked{
            ~~~~position:absolute;
            left:0;
            top:0;
            width:100%;
            display:block;
            opacity:0;
            transition:opacity 0.5s;
        }

        .new-capture.showmark .marked{
            opacity:1;
        }
        .new-capture.showmark .current-capture h2{
            opacity:0;
        }

        #config{
            position: fixed;
            right:10px;
            top:10px;
            z-index: 2;;
        }
        #config button{
            width:100px;
            height:100px;
            cursor:pointer;;
        }
    </style>

</head>
<body>
<div class="page-header">
    <h1><%= title %></h1>
</div>

<div class="page-wraper">
    <div class="panel panel-default">
        <div class="panel-heading">
            摘要
        </div>
        <div>
            采样时间: <%= time %>;  差异率:<%=  diffratio %>
        </div>
    </div>
</div>


<div id="config">
    <button id="showmark_btn" value="false" title="可以显示或隐藏当前截图上的差异标记">点击显示标记</button>
</div>
<div class="wraper">
    <div class="new-capture ">
        <div class="current-capture">
            <h2>本次采样</h2>
            <img src="<%= origin_img %>"/>
        </div>
        <div class="marked">
            <h2>本次采样 - 显示差异</h2>
            <img src="<%= diff_img %>"/>
        </div>
    </div>
    <div class="old-capture ">
        <h2>上次采样：</h2>
        <img src="<%= diffwith_img %>"/>
    </div>

</div>
</body>
<script>
    var showMarkNow = false;

    function showMark(willShow){
        if(willShow){
            $(".new-capture").addClass("showmark");
            $("#showmark_btn").html("不显示标记");
        }else{
            $(".new-capture").removeClass("showmark");
            $("#showmark_btn").html("显示标记");
        }
        showMarkNow = willShow;
    }

    $(function(){
        showMark(showMarkNow);
        $("#showmark_btn").click(function(e){
            showMark(!showMarkNow);
        });
    });

</script>
</html>
