<!DOCTYPE html>
<html>
<head>
    <title>截图监控</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">
    <script src="/public/jquery/jquery.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <style>
        img{
            margin:5px;
            display:block;
        }
        .wraper{
            display:block ;
            white-space: nowrap;
            position: relative;
        }
        .old-capture{
            position:absolute;
            left:50%;
            top:0;
            width:50%;
            vertical-align: top;
        }
        .new-capture{
            position:absolute;
            left:0;
            top:0;
            width:50%;
            vertical-align: top;
        }
        .current-capture{
           position:absolute;
            left:0;
            top:0;
            width:100%;
            display:block;
        }
        .current-capture h2{
            opacity:1;
            transition:opacity 0.5s;
        }
        .marked{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            display:block;
            opacity:0;
            transition:opacity 0.5s;
        }

        .new-capture.showmark .marked{
            opacity:1;
        }
        .new-capture.showmark .current-capture h2{
            opacity:0;
        }

        #config{
            position: fixed;
            right:10px;
            top:10px;
            z-index: 2;;
        }
        #config button{
            width:100px;
            height:100px;
            cursor:pointer;;
        }
        #showmark_btn{
            box-shadow: 0px 0px 35px 1px #888;
            border-radius:5px;
            border:2px solid #A3D0AF;
        }

        .page-similar .new-capture {
            width:100%;
        }
        .page-similar #showmark_btn {
            display:none;
        }

    </style>
</head>
<body class="<%=  diffinfo.similar?"page-similar":""  %>">
<div class="page-header">
    <h1><%= title %></h1>
</div>

<div class="page-wraper">
    <div class="panel panel-default">
        <div class="panel-heading">
            页面变化信息摘要
        </div>
        <div>
            <label>网站:</label> <a href="<%= url %>" target="_blank"><%= url %></a>;<br>
            <label>采样时间:</label> <%= time %>;<br>
            <label>是否相似:</label> <%=  diffinfo.similar?"是":"否"  %> <label>差异率:</label> <%=  diffratio %><br>
            <label>页面宽高保持未变: </label> <%=  diffinfo.isSameDimensions?"是":"否"  %><br>
            <label>所属任务:</label>  <%=  taskinfo._id  %><br>
        </div>
    </div>
</div>

<div id="config">
    <button id="showmark_btn" title="可以显示或隐藏当前截图上的差异标记" accesskey="1">
        <p>显示或隐藏</p>
        <p>(Alt+ 1)</p>
    </button>
</div>
<div class="wraper">
    <div class="new-capture ">
        <div class="current-capture">
            <h2>本次采样</h2>
            <img src="<%= origin_img %>" class="img-thumbnail"/>
        </div>
        <div class="marked">
            <h2>本次采样 - 显示差异</h2>
            <img src="<%= diff_img %>" class="img-thumbnail"/>
        </div>
    </div>

    <% if(has_diffwith_img && !is_similar){ %>
    <div class="old-capture ">
        <h2>上次采样：</h2>
        <img src="<%= diffwith_img %>" class="img-thumbnail"/>
    </div>
    <%}%>
</div>
</body>
<script>
    var showMarkNow = true;
    var accesskey_msg="<p>( Alt + 1 )</p>";

    function showMark(willShow){
        if(willShow){
            $(".new-capture").addClass("showmark");
            $("#showmark_btn").html("点击隐藏差异"+accesskey_msg);
        }else{
            $(".new-capture").removeClass("showmark");
            $("#showmark_btn").html("<p>点击显示差异</p>"+accesskey_msg);
        }
        showMarkNow = willShow;
    }

    $(function(){
        showMark(showMarkNow);
        $("#showmark_btn").click(function(e){
            showMark(!showMarkNow);
        });
    });

</script>
</html>
